@import url("properties.css");

body {
  padding: 2.5rem 8rem;
  font-family: var(--font-family);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav div > ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

li:not(.menu-logo) > a {
  color: var(--color-neutral-grayish-violet);
  font-weight: var(--poppins-bold);
  font-size: 0.8em;
  padding: 0.5rem 1rem;
}

li:not(.menu-logo) > a:hover {
  color: white;
  background-color: var(--color-primary-cyan);
  border-radius: 20px;
}
